<main>
  <title>Tarea9</title>
  <h1>Videojuegos</h1>
<p>Los videojuegos son una forma popular de entretenimiento que se han vuelto cada vez más sofisticados y complejos con el tiempo. Los videojuegos se juegan típicamente en una consola de juegos, computadora, dispositivo móvil o en línea, y pueden ser de varios géneros, incluyendo acción, aventura, deportes, estrategia, simulación y más.</p>
<p>Uno de los videojuegos más populares de todos los tiempos es Super Mario Bros., un juego de plataformas en el que los jugadores controlan a un fontanero llamado Mario mientras salta y corre a través de niveles llenos de enemigos y obstáculos para rescatar a la princesa Peach.</p>
<p>Los videojuegos también se han convertido en un importante negocio, con empresas que ganan miles de millones de dólares en ingresos cada año. Además, los videojuegos también han demostrado tener beneficios en áreas como la educación, la salud mental y la resolución de problemas.</p>
</main>
<app-daniel></app-daniel>